/* remove default spacing and make the page 100% of user screen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* logo */
header {
    text-align: center;
    padding: 18px;
    z-index: 2;         /* ensures header/logo is above dark overlay */
    position: relative; /* for z-index */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 69px;
}

.revCar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    max-height: 60px;
}

.logo {
    max-height: 65px;
}

.playback-icon {
    position: absolute;
    left: 83px;
    top: 20px;
    max-height: 25px;
    z-index: 10;
}

/* container for the background below the logo */
.backgroundContainer {
    position: relative;  /* to give attribute from overlay */
    width: 100vw;
    height: calc(100vh - 65px - 36px); /* full screen - header height - padding */
    background: url('../images/Background.jpg') center/cover no-repeat; /* center and keep aspect ratio and don't repeat*/
    overflow: hidden; /* hide anything that spills outside */
}

/* dark semi-transparent overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50);
    pointer-events: none; /* allows clicks to pass */
}

.eventTitle {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 140px;
    position: relative;
    z-index: 3;
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}

.eventDesc {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0 350px;
    z-index: 3;
    position: relative;
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}

.boxContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    z-index: 3;
    position: relative;
}

.infoBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 55px;
    text-decoration: none;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.infoBox:hover {
    transform: scale(1.05);
}

.boxTitle {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: "Poppins",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}
