html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


header {
    background-color: white; 
    text-align: center;
    padding: 18px;
    position: relative;
    z-index: 2; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.50); 
    pointer-events: none; 
}   

.mainText {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 50px;
    position: relative;
    z-index: 3; 
    font-family: "Poppins", sans-serif;
}

.pastEvents {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin-top: 100px;
    margin-left: 20px;
    position: relative;
    z-index: 3; 
    font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}




.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 69px;
}


.logo {
    max-height: 65px;
}


.bg {
  position: fixed;
  inset: 0;
  background-image: url("../images/background.jpg"); 
  background-size: cover;
  background-position: center;
  filter: brightness(0.6) blur(4px);
  z-index: -1;
  background-color: lightblue;
}

video {
    display: block;
    margin: 0 auto;
}
